* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.debug{
border: 1px solid black;
min-height: 100px;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* PALETTE COLORI E SELETTORI */
:root{
    --black: #0e0e0e;
    --white: #ffffff;
    --orange: #ff6900;
    --grey: #1a1a1a;
    --red: #ff0000;
    --green: #008000;

    --outerBar: 28px;
    --page-max-width: 1260px;
    --header-spacing: 56px;
    --section-spacing: 120px;
}

.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.max-width{
    max-width: 100%;
}
.discountPrice{
    color: var(--red);
    font-weight: bold;
}
.linetrough{
    text-decoration:line-through
}

/* START HEADER + NAV BAR */
div {
    display: block;
}
.headBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 101;
    height: 60px;
    background-color: var(--orange);
    box-shadow: 2px 2px 5px rgba(30, 30, 30, 0.5);
}
.box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: var(--page-max-width);
}
.navContainer{
    width: 100%;
    display: block;
    position: relative;
    color: var(--white);
}
.navFlex{
    display: flex;
    padding-top: 6px;
    align-items: center;
    justify-content: space-between;
}
.navBar{
    display: block;
}
.menu{
    flex-direction: row;
    justify-content: space-around;
}
.list{
    display: inline;
    margin-right: 8px;
}
.menu ul li a{
    list-style: none;
    color: var(--white);    
    text-decoration: none;
    font-weight: bold;    
}
.user i{
    padding-inline-start: 5px;
}
#logo{
    max-height: 32px;
}
/* END HEADER */

/* START HOVER SECTION */
.article .img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.article:hover .img-top{
    display: inline;
}
.heart:hover{
    color: var(--red);
    cursor: pointer;
}
i:hover{
    cursor: pointer;
}

/* END HOVER */

/* START MAIN SECTION */
.carousell{
    display: flex;
    justify-content: center;
    align-items: center;
}
.productContainer{
    width: var(--page-max-width);
    margin-top: 36px;
}
.productCard{
    display: block;    
    padding-left: 8px;
    padding-right: 8px;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    position: relative;
    padding-top: 24px;
}
.article{
    position: relative;
    width: calc((100% -20px) 3);
}
.article img{
    width: 100%;
    left: 0;
    top: 0;
}
.heart{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
}
.discount{
    position: absolute;
    bottom: 100px;
    left: 0;
    background-color: var(--red);
    width: 52px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.green{
    position: absolute;
    background-color: var(--green);
    width: 105px;
    height: 26;    
    bottom: 100px;
    left: 55px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.left0{
    left: 0px;
}
.description{
    position: relative;
    margin-bottom: 8px;
}
.description h4{
    text-transform: uppercase;
    font-size: 16px;
}
.description:last-child{
    font-size: 14px;
}

/* END MAIN SECTION */

/* START FOOTER */
.footer-container{
    width: 100%;
    background-color: var(--grey);
    height: 110px;
    margin-top: 60px;
}
.footerFlex{
    width: var(--page-max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0;
    
}
.footerFlex h3{
    color: white;

}
.footerFlex ul li{
    list-style: none;
    padding-left: 15px;
    padding-top: 10px;
}
#nopadding{
    padding-left: 0;
}
.footerFlex ul li a{
    color: white;
    font-size: 13px;
    text-decoration: none;
}
.footer-right h5{
    color: white;
    padding-bottom: 10px;

}
.footer-right i{
    color: white;
    font-size: 20px;
    padding-right: 5px;
}
.footerList{
    display: flex;
}